//fontsize
$fscolor-primary:  #000000  ;
$fscolor-secondary: #f0f8ff;

//background-footer
$bgcolor-first: #242628  ;
$bgcolor-second:  #2b2a2b;

//backgrounf-familias
$bgcolor-third: linear-gradient(to right, #43c6ac, #f8ffae);

//background-adopcion
$bgcolor-fourth: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2) ;
$bgcolor-fifth: rgba(245, 216, 219, 0.5);

