.requisitos {
    display: flex;
    flex-direction: column;
    margin: 20px;
    
    

    .titulo {
        text-align: center;
        h3{
           font-family: $ff-secondary;
        }
        
    }
    .contenido {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media (max-width: 700px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .imagen {
            width: 300px;
            height: 300px;
            
            img {
                border-radius: 20px;
                @media (max-width: 700px) {
                    height: 300px;
                    width: 300px;
                    border-radius: 20px;
                } 
            }
        }
            
        .contexto-titulo {
            border-radius: 20px;
            background: $bgcolor-fourth;
            flex-direction: column;
            font-family: $ff-secondary;
        p {
            text-align: center;
            font-size: 20px;
            
        }
        .contexto-sec{
            font-size: 15px;
            }
        }
    }
}
.adopciones-contenido {
  
    .adopciones-encabezado {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $ff-secondary;
        @media (max-width: 700px) {
            text-align: center;
        } 
    }
    .adopciones {
        @media (max-width: 700px) {
            display: flex;
            flex-direction: column;
            width: 480px;
            align-content: center;
        } 
      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // width: 900px;
        // height: 100vh;
       
         .adopciones-container {
            position: relative;
            height: 250px;
            overflow: hidden;
            border-radius: 6px;
            box-shadow: 0px 15px 25px
            rgba(0,0,0,0.50);
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all .1s;
            &:hover .adopciones-info {
                opacity: 1;
                visibility: visible;
            }
            @media (max-width: 700px) {
                margin: 20px;
            } 
            img {
                width: 100%;
                height: 100%;
                transition: all 500ms ease-out;
                @media (max-width: 700px) {
                    display: flex;
                    flex-direction: column;
                } 
              
               
            }
            .adopciones-info {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $bgcolor-fifth;
                transition: all 500ms ease-out;
                text-align: center;
                opacity: 0;
                visibility: hidden;
                font-family: $ff-secondary;
                
                h2 {
                    color: $fscolor-primary;
                    font-weight: 400;
                    margin-top: 30px;
                    margin-bottom: 120px;
                    transition: all 1s; 
                    &:hover{
                        margin-top: 70px;
                        margin-bottom: 15px;
                    }
                   
                }
                p {
                    color: $fscolor-primary;
                    font-size: 13px;
                    line-height: 1.5;
                    width: 100%;
                    max-width: 220px;
                    margin: auto;
    
                }
               
    
            }
        }
    }
}


.adopciones-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    // 384/487 alto
    .adopciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 900px;
        height: 180vh;
        .adopciones-container {
            position: relative;
            height: 250px;
            width: 250px;
            overflow: hidden;
            border-radius: 6px;
            box-shadow: 0px 15px 25px
            rgba(0,0,0,0.50);
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all .1s;
            &:hover .adopciones-info {
                opacity: 1;
                visibility: visible;
            }
            
           
            img {
                width: 100%;
                height: 100%;
                transition: all 500ms ease-out;
              
               
            }
            .adopciones-info {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(245, 216, 219, 0.5);
                transition: all 500ms ease-out;
                text-align: center;
                opacity: 0;
                visibility: hidden;
              
                
                h2 {
                    color: rgb(12, 12, 12);
                    font-weight: 400;
                    margin-top: 30px;
                    margin-bottom: 120px;
                    transition: all 1s; 
                    &:hover{
                        margin-top: 70px;
                        margin-bottom: 15px;
                    }
                   
                }
                p {
                    color: rgb(2, 2, 2);
                    font-size: 13px;
                    line-height: 1.5;
                    width: 100%;
                    max-width: 220px;
                    margin: auto;
    
                }
               
    
            }
        }
    }
}